# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific
.vscode/
.idea/

# Environment
venv/
*.env

# Compiled Python files
*.pyc

# Logs and databases
*.log
*.sqlite3

# Miscellaneous
__pycache__
.DS_Store
.vercel
