beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
greenlet==2.0.2
idna==3.4
lxml==4.9.3
psycopg2-binary==2.9.7
pyTelegramBotAPI==4.12.0
requests==2.31.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
typing-extensions==4.7.1
urllib3==2.0.4
watchdog==3.0.0
